

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/css")
    @Scripts.Render("~/bundles/modernizr")
    @using Practice.Models
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<script>
    function ToWhite(x) {
        x.style.color = "#ffffff";
    }
    function ToGrey(x) {
        x.style.color = "#A9A9A9";
    }
    function ToSalmon(x) {
        x.style.color = "#ffa07a";
    }
</script>
<style>
    li.rightcol {
        text-align: right;
    }
</style>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Library/ReadersCollection"><i class="fa fa-home" aria-hidden="true" style="font-size:48px; color:darkgrey;" onmouseover="ToWhite(this)" onmouseout="ToGrey(this)"></i></a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-size:20px; font-weight:bold">
                    <li>@Html.ActionLink("Читатели", "ReadersCollection", "Library")</li>
                    <li>@Html.ActionLink("Книги", "BooksCollection", "Library")</li>
                    <li>@Html.ActionLink("Издательства", "PubsCollection", "Library")</li>
                    @if ((((Librarian)Session["CurUsr"]).Privilege == 1))
                    {
                        <li>@Html.ActionLink("Библиотекари", "LibsCollection", "Library")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right" style="font-size:20px; font-weight:bold;color: #f98012;">
                    <li><a href="/Library/LibInfo/@(((Librarian)Session["CurUsr"]).Id)"><b style="font-size:20px; color:lightsalmon;" onmouseover="ToWhite(this)" onmouseout="ToSalmon(this)">@(((Librarian)Session["CurUsr"]).FIO)</b></a></li>
                    <li><a href="/Library/SignIn" target="_top"><i class="fa fa-sign-out" aria-hidden="true" style="font-size:30px; line-height:20px; vertical-align:top; color:darkgrey;" onmouseover="ToWhite(this)" onmouseout="ToGrey(this)"></i> </a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>


