@model Practice.Models.Reader
@{
    ViewBag.Title = "Изменение читателя";
}
<link href="~/Content/themes/MyStyles.css" rel="stylesheet" />
<style>
    body {
        background: #ffffec;
        background-image: url(../../Content/themes/base/images/Библиотека.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<body>
    <div class="Mainpart" style="width:500px">
        <div class="form-horizontal">
            <h2 style="text-align:center">Редактирование читателя</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.FIO, "ФИО: ", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.FIO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Иванов Иван Иванович" } })
                    @Html.ValidationMessageFor(model => model.FIO, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone_Number, "Телефон: ", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Phone_Number, new { htmlAttributes = new { @class = "form-control", @placeholder = "+7(123)4567890" } })
                    @Html.ValidationMessageFor(model => model.Phone_Number, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, "Email: ", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "example@mail.ru" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address.Region, "Регион: ", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Address.Region, new { htmlAttributes = new { @class = "form-control", @placeholder = "Пермский край" } })
                    @Html.ValidationMessageFor(model => model.Address.Region, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address.City, "Город: ", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Address.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "Пермь" } })
                    @Html.ValidationMessageFor(model => model.Address.City, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address.Street, "Улица: ", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Address.Street, new { htmlAttributes = new { @class = "form-control", @placeholder = "Мира" } })
                    @Html.ValidationMessageFor(model => model.Address.Street, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address.House, "Номер дома: ", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Address.House, new { htmlAttributes = new { @class = "form-control", @placeholder = "11А" } })
                    @Html.ValidationMessageFor(model => model.Address.House, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Address.Flat, "Номер квартиры: ", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Address.Flat, new { htmlAttributes = new { @class = "form-control", @placeholder = "6" } })
                    @Html.ValidationMessageFor(model => model.Address.Flat, "Номер квартиры может содержать только цифры", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <a href="/Library/ReadersCollection"><input type="button" class="button" value="Отмена" style="margin-left:20px" /></a><input type="submit" value="Изменить" class="button" style="float:right; margin-right:20px" />
            </div>
        </div>
    </div>
</body>
}

