@using Practice.Models
@model IEnumerable<Practice.Models.Librarian>
@{
    ViewBag.Title = "Список читателей";
}
<link href="~/Content/themes/MyStyles.css" rel="stylesheet" />
<style>
    body {
        background: #ffffec;
        background-image: url(../../Content/themes/base/images/Библиотека.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }
</style>
<script>
    function disp(form) {
        if (form.style.display == "none") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }
</script>
<body>
    <div class="Mainpart">
        <h2 align="center"><b>Список библиотекарей</b></h2>

        <a href="/Library/AddLib"><input type="submit" class="button" value="Добавить" style="float:right" /></a>
        <br />
        <br />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("ФИО")
                </th>
                <th>
                    @Html.DisplayName("Штатный номер")
                </th>
                <th>
                    @Html.DisplayName("Дата рождения")
                </th>
                <th>
                    @Html.DisplayName("Телефон")
                </th>
                <th>
                    @Html.DisplayName("Email")
                </th>
                <th>
                    @Html.DisplayName("Дата принятия")
                </th>
                <th></th>
            </tr>

            @foreach (Librarian item in (IEnumerable<Librarian>)ViewData["Librarians"])
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FIO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Staff_Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone_Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hiring_Date)
                    </td>
                    <td>
                        <nobr>
                            <a style="text-decoration:none;" href=@("LibInfo/"+item.Id)><i class="fa fa-id-card-o " aria-hidden="true"></i> Подробнее</a>
                        </nobr>
                        @if (item.Privilege == 0)
                        {
                            <br />
                            <a style="text-decoration:none;" href=@("LibChange/"+item.Id)><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Изменить</a>
                            <br />
                            <a style="text-decoration:none;" href=@("DeleteLib/"+item.Id)><i class="fa fa-times " aria-hidden="true"></i> Удалить</a>
                        }
                        @if ((((Librarian)Session["CurUsr"]).Id == item.Id))
                        {
                            <br />
                            <a style="text-decoration:none;" href=@("LibChange/"+item.Id)><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Изменить</a>
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</body>