@model Practice.Models.Reader
@using Practice.Models
@{
    ViewBag.Title = "ReaderInfo";
}

<link href="~/Content/themes/MyStyles.css" rel="stylesheet" />
<style>
    body {
        background: #ffffec;
        background-image: url(../../Content/themes/base/images/Библиотека.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }
</style>
<script>
    function disp(form) {
        if (form.style.display == "none") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body>
        <div class="Mainpart">
            <div>
                <div>
                    <h2 align="center"><b>Информация о читателе</b></h2>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayName("Читательский билет: ")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Library_Card)
                        </dd>

                        <dt>
                            @Html.DisplayName("ФИО: ")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FIO)
                        </dd>

                        <dt>
                            @Html.DisplayName("Дата рождения: ")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Birthday)
                        </dd>

                        <dt>
                            @Html.DisplayName("Номер телефона: ")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Phone_Number)
                        </dd>

                        <dt>
                            @Html.DisplayName("Email: ")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt>
                            @Html.DisplayName("Дата регистрации: ")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Registration_Date)
                        </dd>
                        <dt>
                            @Html.DisplayName("Регион: ")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address.Region)
                        </dd>
                        <dt>
                            @Html.DisplayName("Город: ")
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Address.City)
                        </dd>
                        <dt>
                            @Html.DisplayName("Улица: ")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address.Street)
                        </dd>
                        <dt>
                            @Html.DisplayName("Дом: ")
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Address.House)
                        </dd>
                        <dt>
                            @Html.DisplayName("Квартира: ")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address.Flat)
                        </dd>
                        <dt>
                            @Html.DisplayName("Задолженность: ")
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => ViewData["Penalty"])
                        </dd>
                    </dl>
                    <form method="post" action="">
                        <input type="button" class="button" value="Использовать фильтр" onclick="disp(document.getElementById('Filters'))" />
                        <br />
                        <br />
                        <table id="Filters" style="display:none">
                            <tr><td></td></tr>

                            <tr>
                                <td>
                                    <div class="_bottom">
                                        <input type="checkbox" id="CB_LC" class="css-checkbox" name="CB_Book_ID" value="true" /> Код книги:
                                    </div>
                                </td>

                                <td></td>
                                <td></td>
                            </tr>
                            <tr><td><input type="number" name="Book_ID" class="form-control" placeholder="Номер Чит. Билета" /></td></tr>
                            <tr>
                                <td>
                                    <div class="_bottom">
                                        <input type="checkbox" class="css-checkbox" name="CB_Return" value="true" /> Книга возвращена:
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        <select id="Select1" class="form-control" name="IsReturned">
                                            <option>Возвращена</option>
                                            <option>Не возвращена</option>
                                        </select>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="_bottom">
                                        <input type="checkbox" class="css-checkbox" name="CB_Penalty" value="true" /> Штраф наложен:
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        <select id="Select2" class="form-control" name="IsPenalty">
                                            <option>Да</option>
                                            <option>Нет</option>
                                        </select>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="_bottom">
                                        <input type="checkbox" class="css-checkbox" name="CB_Give_Date" value="true" /> Дата выдачи:
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr><td><p><input type="date" name="Give_Date" class="form-control" value="1970-01-01" /></p></td></tr>
                            <tr>
                                <td>
                                    <div class="_bottom">
                                        <input type="checkbox" class="css-checkbox" name="CB_Exp_Return" value="true" /> Выдано до:
                                    </div>
                                </td>

                                <td></td>
                            </tr>
                            <tr><td><p><input type="date" name="Exp_Return" class="form-control" value="1970-01-01" /></p></td></tr>
                            <tr>
                                <td><input type="submit" class="button" value="Поиск" style="margin-bottom:10px" /></td>
                            </tr>
                        </table>
                    </form>
                    <a href=@("/Library/ReaderInfo/"+Model.Id)><input type="button" class="button" value="Сброс" /></a>

                    <a href=@("/Library/GiveBook/"+Model.Id)><input type="button" class="button" value="Выдать книгу" style="float:right" /></a>
                    <br />
                    <br />
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayName("Дата выдачи")
                            </th>
                            <th>
                                @Html.DisplayName("Код книги")
                            </th>
                            <th>
                                @Html.DisplayName("Название книги")
                            </th>
                            <th>
                                @Html.DisplayName("Автор книги")
                            </th>
                            <th>
                                @Html.DisplayName("Выдана до")
                            </th>
                            <th>
                                @Html.DisplayName("Дата принятия")
                            </th>
                            <th>
                                @Html.DisplayName("Штраф")
                            </th>
                            <th></th>
                        </tr>
                        @foreach (BookGiving item in (IEnumerable<BookGiving>)ViewData["BG"])
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Give_Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Publication.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Publication.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Publication.Author)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Expected_Return_Date)
                                </td>
                                @if (item.BookReturning != null)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BookReturning.Real_Return_Date)
                                    </td>
                                    if (item.BookReturning.Penalty.Sum == 0)
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BookReturning.Penalty.Sum)
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <b>
                                                @Html.DisplayFor(modelItem => item.BookReturning.Penalty.Sum)
                                            </b>
                                        </td>
                                    }
                                }
                                else
                                {
                                    if (item.Expected_Return_Date > DateTime.Today)
                                    {
                                        <td style="color:orange">
                                            @Html.DisplayName("Не принята")
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="color:orangered">
                                            <b>@Html.DisplayName("Не принята")</b>
                                        </td>
                                    }
                                    <td>
                                        @Html.DisplayName("")
                                    </td>
                                }
                                <td>
                                    @if (item.BookReturning == null)
                                    {
                                        <nobr>
                                            <a style="text-decoration:none;" href=@("/Library/BookReturn/"+item.Id)><i class="fa fa-check " aria-hidden="true"></i> Принять книгу</a>
                                        </nobr>
                                        <br />
                                    }
                                    <nobr>
                                        <a style="text-decoration:none;" href=@("/Library/BGInfo/"+item.Id)><i class="fa fa-search " aria-hidden="true"></i> Подробнее</a>
                                    </nobr>
                                    @if (item.BookReturning != null && item.BookReturning.Penalty != null && item.BookReturning.Penalty.Sum > 0)
                                    {
                                        <br />
                                        <a style="text-decoration:none;" href=@("/Library/PayPenalty/"+item.Id)><i class="fa fa-money " aria-hidden="true" typeof="submit"></i> Погасить</a>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </body>
}
