@using Practice.Models
@model IEnumerable<Practice.Models.Reader>
@{
    ViewBag.Title = "Список читателей";
}
<link href="~/Content/themes/MyStyles.css" rel="stylesheet" />
<style>
    body {
        background: #ffffec;
        background-image: url(../../Content/themes/base/images/Библиотека.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }
</style>
<script>
    function disp(form) {
        if (form.style.display == "none") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }
</script>
<body>
    <div class="Mainpart">
        <h2 align="center"><b>Список читателей</b></h2>
        <form method="post" action="">
            <input type="button" class="button" value="Использовать фильтр" onclick="disp(document.getElementById('Filters'))" />
            <br />
            <br />
            <table id="Filters" style="display:none">
                <tr><td></td></tr>

                <tr>
                    <td>
                        <div class="_bottom">
                            <input type="checkbox" id="CB_LC" class="css-checkbox" name="CB_Library_Card" value="true" /> Читательский билет:
                        </div>
                    </td>

                    <td></td>
                    <td></td>
                </tr>
                <tr><td><input type="text" name="Library_Card" class="form-control" placeholder="Номер Чит. Билета" /></td></tr>
                <tr>
                    <td>
                        <div class="_bottom">
                            <input type="checkbox" class="css-checkbox" name="CB_FIO" value="true" /> Имя:
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr><td><input type="text" name="FIO" class="form-control" placeholder="ФИО" /></td></tr>
                <tr>
                    <td>
                        <div class="_bottom">
                            <input type="checkbox" class="css-checkbox" name="CB_Birth" value="true" /> Дата рождения:
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr><td><p><input type="date" name="Birthday" class="form-control" /></p></td></tr>
                <tr>
                    <td>
                        <div class="_bottom">
                            <input type="checkbox" class="css-checkbox" name="CB_Phone" value="true" /> Номер телефона:
                        </div>
                    </td>

                    <td></td>
                </tr>
                <tr><td><p><input type="text" name="Phone_Number" class="form-control" /></p></td></tr>
                <tr>
                    <td>
                        <div class="_bottom">
                            <input type="checkbox" class="css-checkbox" name="CB_Reg" value="true" /> Дата регистрации:
                        </div>
                    </td>

                    <td></td>
                </tr>
                <tr><td><p><input type="date" name="Registration_Date" class="form-control" /></p></td></tr>
                <tr>
                    <td><input type="submit" class="button" value="Поиск" /></td>
                </tr>
            </table>
        </form>

        <a href="/Library/ReadersCollection"><input type="submit" class="button" value="Сброс" /></a><a href="/Library/AddReader"><input type="submit" class="button" value="Добавить" style="float:right"/></a>
            <br />
            <br />
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayName("ФИО")
                    </th>
                    <th>
                        @Html.DisplayName("Читательский билет")
                    </th>
                    <th>
                        @Html.DisplayName("Дата рождения")
                    </th>
                    <th>
                        @Html.DisplayName("Телефон")
                    </th>
                    <th>
                        @Html.DisplayName("Email")
                    </th>
                    <th>
                        @Html.DisplayName("Дата регистрации")
                    </th>
                    <th></th>
                </tr>

                @foreach (Reader item in (IEnumerable<Reader>)ViewData["Readers"])
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FIO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Library_Card)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Birthday)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone_Number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Registration_Date)
                        </td>
                        <td>
                            @Html.ActionLink("Изменить", "ChangeReader", new { id = item.Id })
                            @Html.ActionLink("Выбрать", "ReaderInfo", new { id = item.Id })
                            @Html.ActionLink("Удалить", "DeleteReader", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
</div>
</body>

