@{ Layout = null; }
@{
    ViewBag.Title = "Авторизация";
}
@model Practice.Models.Librarian
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p align="center" style="color:#000000; font-size:30px"> Авторизация в ИС "Библиотека"</p>
    <p align="center"style="font-size:20px">
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </p>
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Staff_Number, "Штатный номер: ", htmlAttributes: new { @class = "control-label col-md-5 text-md-right" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Staff_Number, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Staff_Number, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, "Пароль: ", htmlAttributes: new { @class = "control-label col-md-5 text-md-right" })
                <div class="col-md-7">
                    @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    <input type="submit" value="Вход" class="btn btn-default" style="color:#000000; font-size:22px; width:100px" />

                </div>
            </div>
        </div>
        }
